@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MadTes Inn!</h1>
    <div class="button-container">
        <a class="btn btn-primary" asp-page="/Reservations">My Reservations</a>
        <a class="btn btn-secondary" asp-page="/RoomQuestion">New Reservation</a>
    </div>
</div>

<style>
    .button-container {
        margin-top: 20px;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }

    .btn-secondary {
        background-color: #6c757d;
        border-color: #6c757d;
    }

        .btn-secondary:hover {
            background-color: #5a6268;
            border-color: #5a6268;
        }
</style>
